@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Görseli</th>
        <th>Referans Adı</th>
        <th>Referans Ünvanı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.TestimonialID</th>
            <td>@item.Image</td>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/Staff/DeleteStaff/@item.TestimonialID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Staff/UpdateStaff/@item.TestimonialID" class="btn btn-primary">Güncelle</a></td>
            <td><a href="#" class="btn btn-dark">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Staff/AddStaff" class="btn btn-info">Yeni Personel Girişi</a>

